* {
 margin: 0px;
 padding: 0px;
 list-style: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header {
    background-color:  rgb(78, 135, 168);
    padding: 70px;
    display: flex;
    justify-content: end;

}
header nav ul  {
    display: flex;
    
}
header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

header li a:hover {
    color: rgb(63, 7, 80);
    transition: 0.8s;
}

.sessao1 {
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%); 
    padding: 200px;
    width: auto;
}

.sessao1 h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.447);
}

.sessao1 p {
    font-size: 30px;
}

.sessao1 button {
    padding: 20px; 
    border-radius: 50px; 
    width: 300px; 
    cursor: pointer;
    border-color: rgb(19, 153, 108); 
    margin: 30px; 
    color: aqua;
    
}
.sessao1 button:hover {
    color:white;
    transition: 0.8s;
    background-color: rgb(2, 124, 73);
    border-color: white;
}

.sessao2 {
    padding: 200px;
    display: flex;
    background-color: rgb(226, 233, 233); 
    justify-content: space-around;
}

.sessao2 div img {
    height: 380px; 
    margin-top: -40px; 
    

}
.sessao2 div button {
    padding: 20px; 
    border-radius: 50px; 
    width: 300px; 
    cursor: pointer;
    border-color: rgb(19, 153, 108); 
    margin: 30px; 
    color: aqua;
   
    
}
.sessao2 button:hover {
    color: white;
    transition: 0.8s;
    border-color: white;
    background-color: rgba(38, 193, 240, 0.705);
}

.sessao2 div p {
    font-size: 40px;
   
}

.sessao3 {
    background-color: rgb(226, 233, 233);
    padding: 270px;
    justify-content:center ;

}

.sessao3 h2 {
    font-size: 40px;  
    color: rgb(34, 34, 74); 
    text-align: center;
    margin-top: 15px;
}

.sessao3 p {
    font-size: 20px; 
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.564); 
    text-align: justify; 
}
.sessao3 button {
    padding: 20px; 
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    cursor: pointer;
    border-color: rgb(96, 96, 255);
}
.sessao3 button:hover {

    color: white;
    transition: 0.8s;
    background-color: blue;
    border-color: white;
}

.sessao3 img{
    width: 700px;
    margin: 30px;
    
}

.sessao4 {
    background-image: url(imagens/img\ cofre\ fundo.jpg);
    background-position: center; 
    background-attachment: fixed; 
    padding: 300px;
    display: flex; 
    align-items: center; 
    justify-content: center ;

    
}

.sessao4 img{
    width: 300px;
    margin-right: 500px;

}

.sessao4 h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 10px;
    

}
.sessao4 p {
    font-size: 25px;
    color: rgb(14, 13, 13);
    
}

.sessao4 h3 span {
    color: yellow;

}



